################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Unni.ToDo
/src/Unni.ToDo.API/bin/Debug/net7.0
/src/Unni.ToDo.API/Data/Db
/src/Unni.ToDo.API/obj
/src/Unni.ToDo.Tests/bin/Debug/net7.0
/src/Unni.ToDo.Tests/obj
/src/Unni.ToDo.Common/bin/Debug/net7.0
/src/Unni.ToDo.Common/obj
/src/.vs/ProjectEvaluation
/src/BlazorApp1/bin/Debug/net8.0
/src/Unni.ToDo.UI/bin/Debug/net8.0
/src/Unni.ToDo.UI/obj
/.vs/TodoApp/FileContentIndex
/.vs
/src/Unni.ToDo.UI/Unni.ToDo.UI.csproj.user
/tests/Unni.ToDo.FunctionalTests/bin/Debug/net7.0
/tests/Unni.ToDo.FunctionalTests/obj
/tests/Unni.ToDo.UnitTests/bin/Debug/net7.0
/tests/Unni.ToDo.UnitTests/obj
/src/Unni.ToDo.Core/bin/Debug/net7.0
/src/Unni.ToDo.Core/obj
/src/Unni.ToDo.Infrastructure/bin/Debug/net7.0
/src/Unni.ToDo.Infrastructure/obj
/Unni.ToDo.Infrastructure/obj
/src/Unni.ToDo.AdminAPI/bin/Debug/net8.0
/src/Unni.ToDo.AdminAPI/Data/db
/src/Unni.ToDo.AdminAPI/obj
/src/Unni.ToDo.AdminAPI/Properties
/Unni.ToDo.AdminAPI/obj
/src/AdminService/.vs
/src/AdminService/Unni.Admin.Application/bin/Debug/net8.0
/src/AdminService/Unni.Admin.Application/obj
/src/AdminService/Unni.Admin.Domain/bin/Debug/net8.0
/src/AdminService/Unni.Admin.Domain/obj
/src/AdminService/Unni.Admin.Infrastructure/bin/Debug/net8.0
/src/AdminService/Unni.Admin.Infrastructure/obj
/src/AdminService/Unni.ToDo.AdminAPI/bin/Debug/net8.0
/src/AdminService/Unni.ToDo.AdminAPI/obj
/src/ToDoService/Unni.ToDo.API/bin/Debug/net7.0
/src/ToDoService/Unni.ToDo.API/obj
/src/ToDoService/Unni.ToDo.Core/bin/Debug/net7.0
/src/ToDoService/Unni.ToDo.Core/obj
/src/ToDoService/Unni.ToDo.Infrastructure/bin/Debug/net7.0
/src/ToDoService/Unni.ToDo.Infrastructure/obj
/src/UI/Unni.ToDo.UI/bin/Debug/net8.0
/src/UI/Unni.ToDo.UI/obj
/tests/AdminService.Tests/Unni.Admin.FunctionalTests/bin/Debug/net8.0
/tests/AdminService.Tests/Unni.Admin.FunctionalTests/obj
/tests/AdminService.Tests/Unni.Admin.UnniTests/bin/Debug/net8.0
/tests/AdminService.Tests/Unni.Admin.UnniTests/obj
/tests/ToDoService.Tests/Unni.ToDo.FunctionalTests/bin/Debug/net7.0
/tests/ToDoService.Tests/Unni.ToDo.FunctionalTests/obj
/tests/ToDoService.Tests/Unni.ToDo.UnitTests/bin/Debug/net7.0
/tests/ToDoService.Tests/Unni.ToDo.UnitTests/obj
/src/AdminService/Unni.Admin.WebAPI/bin/Debug/net8.0
/src/AdminService/Unni.Admin.WebAPI/Data/db
/src/AdminService/Unni.Admin.WebAPI/obj/Debug/net8.0
/src/AdminService/Unni.Admin.WebAPI/obj
/src/ToDoService/.vs/TodoService
/src/ToDoService/Unni.ToDo.WebAPI/bin/Debug/net7.0
/src/ToDoService/Unni.ToDo.WebAPI/Data/Db
/src/ToDoService/Unni.ToDo.WebAPI/obj/Debug/net7.0
/src/ToDoService/Unni.ToDo.WebAPI/obj/Release/net7.0
/src/ToDoService/Unni.ToDo.WebAPI/obj
/src/ToDoService/Unni.ToDo.WebAPI/obj
/tests/ToDoService.Tests/Unni.ToDo.UnitTests/obj
/src/ToDoService/.vs/ProjectEvaluation
/src/ToDoService/Unni.Todo.Application/bin/Debug/net8.0
/src/ToDoService/Unni.Todo.Application/obj
/src/ToDoService/Unni.ToDo.Core/bin/Debug/net8.0
/src/ToDoService/Unni.Todo.Domain/bin/Debug/net8.0
/src/ToDoService/Unni.Todo.Domain/obj
/src/ToDoService/Unni.ToDo.Infrastructure/bin/Debug/net8.0
/src/ToDoService/Unni.ToDo.WebAPI/bin/Debug/net8.0
/tests/ToDoService.Tests/Unni.Todo.FunctionalTests/bin/Debug/net8.0
/src/TodoUI/.vs/TodoUI/v17
/src/TodoUI/.vs/TodoUI/FileContentIndex
/src/TodoUI/Unni.ToDo.UI/obj
/src/TodoUI/Unni.ToDo.UI/bin/Debug/net8.0
/src/TodoUI/.vs/TodoUI/config
/src/TodoUI/.vs
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/appsettings.json
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_Unni.Todo.UnitTests
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Application.dll
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Application.pdb
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Domain.dll
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Domain.pdb
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Infrastructure.dll
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.Infrastructure.pdb
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.UnitTests.deps.json
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.UnitTests.dll
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.UnitTests.pdb
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.WebAPI.deps.json
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.WebAPI.dll
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.WebAPI.exe
/tests/ToDoService.Tests/Unni.Todo.UnitTests/bin/Debug/net8.0/Unni.Todo.WebAPI.pdb
